.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top: 0px;
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    width: 100%;
    padding: 0.43em 0.5em 0.43em 0.5em;
    padding-right: 2em;
}

.cabecalho__titulo {
    font-size: 15px;
    color: var(--cor-principal);
}

.cabecalho__subtitulo {
    color: var(--cor-principal);
}

.cabecalho__titulo-link {
    text-decoration: none;
    color: var(--cor-principal);
}

.cabecalho__link-container {
    margin-top: 0.60em;
    padding-right: 1em;
}


.cabecalho__link {
    text-decoration: none;
    color: var(--cor-terciaria);
    margin-top: 0.31em;
    padding: 0.31em;
}

.cabecalho__subtitulo {
    font-size: 70%;
}

@media screen and (min-width: 450px) {
    .cabecalho {
        padding: 0.43em 0 0.43em 2em;
    }
    .cabecalho__link-container {
        padding-right: 4em;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 0.43em 0 0.43em 2em;
    }
    .cabecalho__link-container {
        padding-right: 4em;
    }
}

@media screen and (min-width: 1024px) {
    .cabecalho {
        margin-top: 0px;
        padding: 0.43em 0 0.43em 4.5em;
    }

    .cabecalho__link-container {
        padding-right: 10em;
    }

    .cabecalho__titulo {
        font-size: 26px;
    }

    .cabecalho__link-container {
        margin-top: 0.60em;
    }
    
    .cabecalho__link {
        margin-top: 0.31em;
        padding: 0.31em;
    }
    
    .cabecalho__subtitulo {
        font-size: 70%;
    }

}