.sobre {
    padding: 12.5em 30em 0 7em ;
}

.sobremim {
    display: flex;
    padding: 9.35em 7em 0 7em;
    text-align: left;
}

.sobremim__apresentacao-conteudo {
    margin-right: 1.85em;
}

.sobremim__apresentacao-titulo {
    font-weight: 500;
    color: var(--cor-terciaria);
}

.sobremim__apresentacao-texto {
    margin-top: 1.85em;
    color: var(--cor-principal);
}

.sobremim__apresentacao-hr {
    border: none;
}

.sobremim__apresentacao-imagem {
    margin: 1.65em 0 0 1.25em;
}

@media screen and (min-width: 1024px) {
    .sobre {
        padding: 12.5em 15em 0 4.5em ;
    }
    
    .sobremim {
        padding: 9.35em 7em 0 7em;
    }
    
    .sobremim__apresentacao-conteudo {
        margin-right: 1.85em;
    }
    
    .sobremim__apresentacao-titulo {
        font-weight: 500;
    }
    
    .sobremim__apresentacao-texto {
        margin-top: 1.85em;
    }
    
    
    .sobremim__apresentacao-imagem {
        margin: 1.65em 0 0 1.25em;
    }
    

}