.tecnologias {
    margin-top: 1.85em;
    padding: 0 7em 0 7em ;
    color: var(--cor-terciaria);
    font-weight: 500;
}

@media screen and (min-width: 1024px) {
    .tecnologias {
        margin-top: 1.85em;
        padding: 0 4.5em 0 4.5em ;
        font-weight: 500;
    }

}